
        * {
            color: #74125b;
            font-style: italic;
        }

        .bordes {
            margin-top: 10px;
            margin-right: 20px;
            margin-bottom: 10px;
            margin-left: 20px;
        }

        body {
            background-color: #f396aa5b;
        }

        .titulo {
            color: #74125b;
            font-style: italic;
            font-weight: bold;
            background-color: #f396aab0;
            border-radius: 20px;
            text-align: center;
            border: 1px solid #74125b;
        }

        .tituloTabla
        {
            color: #74125b;
            font-style: italic;
            font-weight: bold;
            background-color: #f396aab0;
            text-align: center;
            font-size: 20px ;
        }

        .parrafos {
            color: #74125b;
            font-style: italic;
            text-align: justify;
        }

        .enlace {
            color: #74125b;
            text-align: center;
            background-color: #f396aab0;
            border-radius: 20px;
            padding: 10px;
            border: 1px solid #74125b;
        }

        .elemento {
            color: blue;
            font-size: 16px;
        }

        .en-linea {
            font-weight: bold;
            text-transform: capitalize;
        }

        .imgFormato[src*="flores"] {
            width: 390px;
            height: 260px;
            border-radius: 5%;
        }


        header {
            text-align: center;
            padding: 20px;
        }

        nav {
            margin: 10px;
            text-align: center;
        }

        nav a {
            margin: 0 10px;
            text-decoration: none;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid #74125b;
            text-align: center;
        }

        iframe {
            display: block;
            margin: 0 auto;
            border: 3px solid #74125b;
        }

        audio {
            display: block;
            margin: 0 auto;
        }

        footer {
            text-align: center;
            padding: 20px;
            margin-top: 20px;
        }
